---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DTL 2024">
	<div
		class="flex flex-col items-center justify-center min-h-screen bg-neutral-900"
	>
		<h1
			class="text-5xl p-4 bg-gradient-to-r from-purple-500 to-sky-600 text-transparent bg-clip-text"
		>
			Design Thinking Lab - 2024
		</h1>

		<h2 class="text-2xl text-neutral-500">Digital Humanities</h2>

		<h3 class="text-xl text-neutral-300">
			Team: Shrish Vasudevrao Deshpande, Saksham Gupta, Mohit Kumar Sahoo
		</h3>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md text-lg">
			<p>We conducted a Design Thinking survey on mass emails</p>
			<p>
				This was inspired by students who have been sending DTL forms,
				and not receiving as many responses. This is influenced due to
				sociological and psychological factors.
			</p>
			<p>
				Traditional mail-merge software does not integrate well with our
				campus infrastructure, and we are looking to find out what
				students really need.
			</p>
		</div>
	</div>

	<div class="footer p-10 bg-neutral-900">
		<p class="text-neutral-500 text-center mt-8">
			&copy; 2024 Shrish Deshpande
		</p>
	</div>
</Layout>
