---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DTL 2024">
	<div class="flex flex-col items-center justify-center min-h-screen bg-neutral-900">
		<h1 class="text-5xl p-4 bg-gradient-to-r from-purple-500 to-sky-600 text-transparent bg-clip-text">
			Design Thinking Lab - 2024
		</h1>

		<h2 class="text-2xl text-neutral-500">
			Digital Humanities
		</h2>

		<h3 class="text-xl text-neutral-300">Team: Shrish Vasudevrao Deshpande, Saksham Gupta, Mohit Kumar Sahoo</h3>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md text-lg">
			<p>
				The problem we aim to address is the limited reach and lack of impressions
				created from traditional, mass, cold emails.
			</p>
			<p>
				Students have been sending DTL forms en-masse with little to no personalization.
				This is influenced due to sociological and psychological factors. 
			</p>
			<p>
				Our hypothesis is that a little personalization can go a long way in creating
				a lasting impression and increasing the response rate.
			</p>
			<p>
				Traditional mail-merge software does not integrate well with our campus
				infrastructure, and we are looking to create a custom solution.
			</p>
		</div>

	</div>
	<div class="flex flex-col items-center justify-center min-h-screen bg-neutral-900">
		<h2 class="text-3xl bg-gradient-to-r from-red-500 to-purple-500 text-transparent bg-clip-text">
			Limitations with current mail merge services
		</h2>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md text-lg">
			<p>
				RVCE email accounts are not supported by most mail merge services.
			</p>
			<p>
				This is because two-factor authentication cannot be enabled on RVCE email accounts.
				Accessing Gmail using SMTP requires app-specific passwords, which can only be created
				if two-factor authentication is enabled.
			</p>
			<p>
				Our current working idea is to somehow make this accessible to students, and create
				a mail merge service that is accessible and well-integrated.
			</p>
			<p>
				We aim to keep our service free of cost, and open-source.
			</p>
		</div>
	</div>
	
	
	<div class="flex flex-col items-center justify-center min-h-screen bg-neutral-900">
		<h2 class="text-3xl bg-gradient-to-r from-blue-500 to-green-500 text-transparent bg-clip-text">
			Initial Experiment
		</h2>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md">
			<p>
				Our first experiment was to test how a simple personalization - including the name
				of the recipient in the email - affected response rate. The control setup was the 
				tens of DTL forms that were being released everyday.
			</p>
			<p>
				We created a form similar to most other DTL forms - with a fancy idea and AI generated
				caption. The difference was that we included the name of the recipient in the email, and
				personally addressed them.
			</p>
			<a target="_blank" class="text-blue-400 hover:text-blue-500 transition" href="https://link.shrishdeshpande.com/dtl">Link to the form</a>
			<p>
				Several people responded asking how we personally addressed them, as they usually
				just got cold emails. This was a good sign that our personalization was working.
			</p>
		</div>

		<h2 class="mt-8 text-3xl bg-gradient-to-r from-purple-500 to-red-500 text-transparent bg-clip-text">
			Current Strategy
		</h2>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md">
			<p>
				Collecting user responses online will <b>not</b> be a part of our empathy strategy.
				Since our project itself is about email surveys, we do not believe that they are
				a feasible method to collect feedback and user responses.
			</p>
			<p>
				All interviews will be conducted in-person. Our stakeholders are primarily students.
			</p>
		</div>
	</div>

	<div class="flex flex-col items-center justify-center min-h-screen bg-neutral-900">
		<h2 class="text-3xl bg-gradient-to-r from-blue-500 to-green-500 text-transparent bg-clip-text">
			Survey Questions
		</h2>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md">
			<p>
				Did you recently receive a personalized DTL survey email?
			</p>
			<p>
				Did you respond to the email? If not, could you do so now?
			</p>
			<p>
				Did you notice something unique about the email, compared to other DTL emails?
			</p>
			<p>
				Did that affect your decision to respond?
			</p>
			<p>
				How important is personalization in mass emails to you?
			</p>
			<p>
				Do you think that personalization can be scaled to a large number of people?
			</p>
			<p>
				Do you wish you would have done this for your own DTL form?
			</p>
			<p>
				Do you think personalizing your emails would have gotten you more responses?
			</p>
			<p>
				How long do you think it took for sending 1500 personalized emails?
			</p>
			<p>
				Would you use a service that let you do this easily, free of cost, on your RVCE email ID?
			</p>
		</div>
	</div>

		<div class="footer p-10 bg-neutral-900">
			<p class="text-neutral-500 text-center mt-8">
				&copy; 2024 Shrish Deshpande
			</p>
			</div>
	</div>
</Layout>
