---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DTL 2024">
	<div
		class="flex flex-col items-center justify-center min-h-screen bg-neutral-900"
	>
		<h2
			class="text-3xl bg-gradient-to-r from-blue-500 to-green-500 text-transparent bg-clip-text"
		>
			Problems revealed by the survey
		</h2>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md">
			<p>- Students cannot use mail merge services</p>
			<p>- Students cannot send rich, HTML emails easily</p>
			<p>- Mass emails have a lack of personalization</p>
			<p>- DTL surveys received lower-than-expected response rates</p>
			<p>- DTL emails sometimes went to spam</p>
			<p>- Content in mass emails is not properly humanized and sounds AI-generated</p>
			<p>- Personally sending emails is not scalable</p>
		</div>
	</div>
</Layout>
