---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DTL 2024">
	<div
		class="flex flex-col items-center justify-center min-h-screen bg-neutral-900"
	>
		<div class="space-y-8 p-4">
			<!-- POV Header -->
			<div class="text-2xl font-semibold mb-4">Point of View Table</div>

			<!-- POV Item 1 -->
			<div class="space-y-2 border-l-4 border-blue-500 pl-4">
				<p class="font-bold">User:</p>
				<p>Student sending a DTL survey to classmates.</p>
				<p class="font-bold">Need:</p>
				<p>
					A way to make mass survey emails feel personalized and
					engaging to increase response rates.
				</p>
				<p class="font-bold">Insight:</p>
				<p>
					Students are more likely to respond to emails that feel
					personal and show effort.
				</p>
			</div>

			<!-- POV Item 2 -->
			<div class="space-y-2 border-l-4 border-green-500 pl-4">
				<p class="font-bold">User:</p>
				<p>Student survey recipients.</p>
				<p class="font-bold">Need:</p>
				<p>
					To feel recognized and valued in communication and not
					treated as just a mass audience.
				</p>
				<p class="font-bold">Insight:</p>
				<p>
					Recipients are more motivated to respond when they feel the
					survey respects their individual input.
				</p>
			</div>

			<!-- POV Item 3 -->
			<div class="space-y-2 border-l-4 border-yellow-500 pl-4">
				<p class="font-bold">User:</p>
				<p>
					Survey creator unfamiliar with email personalization tools.
				</p>
				<p class="font-bold">Need:</p>
				<p>
					A straightforward, accessible method to personalize mass
					emails efficiently.
				</p>
				<p class="font-bold">Insight:</p>
				<p>
					With the right tools, survey creators could achieve
					personalization at scale, improving the response rate and
					engagement of their surveys.
				</p>
			</div>
		</div>

		<h2
			class="text-3xl bg-gradient-to-r from-blue-500 to-green-500 text-transparent bg-clip-text"
		>
			Problems revealed by the survey
		</h2>

		<div class="flex flex-col gap-4 mt-8 max-w-screen-md">
			<p>- Students cannot use mail merge services</p>
			<p>- Students cannot send rich, HTML emails easily</p>
			<p>- Mass emails have a lack of personalization</p>
			<p>- DTL surveys received lower-than-expected response rates</p>
			<p>- DTL emails sometimes went to spam</p>
			<p>
				- Content in mass emails is not properly humanized and sounds
				AI-generated
			</p>
			<p>- Personally sending emails is not scalable</p>
		</div>
	</div>
</Layout>
